body {
    font-family: 'Roboto', sans-serif;
}

.option {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 2vh;
    margin: 3vh 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 97%;
    height: 22%;
}

.option-left {
    flex: 95%;
    justify-content: flex-start;
    
}

.option-left h2 {
    font-size: 1em;

}

.prof-data {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    gap: 10px;
    margin-bottom: 5px;
}

.faculty-name,
.study-program {
    font-size: 0.8em; 
    color:  #333;
    margin-bottom: 5px; 
    justify-content: flex-start;
}
.study-program{
    font-weight: 300;
    
}
.thesis-description {
    font-size: 1em;
    font-weight: 300;
    color: #333;
    cursor: pointer;
}

.thesis-description a {
    color: blue;
    text-decoration: none;
}

.option-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    border-radius: 25px;
    width: 7vh;
    text-align: center;
    color: black;
}

.circles-container {
    display: flex;
    gap: 10px;
    margin-top: 30px; /* Move the circles down */
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.proposal-status {
    font-size: 0.8em;
    color: #555;
    margin-top: 20px;
}

.option:hover {
    transform: scale(1.03);
}
