.upbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    
    background-image: url('/Users/Andrei_Sviridov/Desktop/React/frontend/src/images/up_bar_back.png'); 
    background-size: cover;
    background-position: center; 
    color: white;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    z-index: 1000;
    
    border-bottom: 0.4px solid rgb(0, 0, 0);
}


.logo_box{
    display: flex;
    align-items: center;
   
    right: 75%;
   

}
.logo{
    width: 23%;
    height: 23%; 
}
.icon {
    
    color: rgb(80, 78, 78);
    padding: 0.4vh;
}

.icon:hover {
   
        transform: scale(1.3);
        background-color: rgb(231, 231, 231);
}

.icon:first-of-type {
    font-size: 120%;
    margin-right: 2vw;  
}



.form_account {
   min-width: 20vh;
    position: absolute; 
    top: 80%; 
    font-size: 10px;
    right: 1%;
    background-color: rgb(243, 243, 243); 
    padding: 20px;
    border-radius: 5px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); 
    color:#333;
}
.log_btn{
    margin-left: 10%;
    margin-top: 3vh;
    min-width: 80%;
    padding: 5%;
    
    font-size: 1rem;
    font-weight: bold;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enter_form {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    color: black; 
    padding: 5vh;
    font-size: large;
}

.link {
    margin: 15% 0; 
    color: blue; 
    text-decoration: none; 
}
.link:hover {
    text-decoration: underline; 
}



.main_btn {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main_btn:hover {
    background-color: #0056b3;
}
