.thesis-form {
    display: flex;
    flex-direction: column;
    
    width: 50%;
    margin: 10vh auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}



.thesis-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 1rem;
    color: #333;
}

.thesis-form input[type="text"],
.thesis-form input[type="date"],
.thesis-form textarea {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.thesis-form textarea {
    resize: vertical;
    min-height: 100px;
}

.thesis-form button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.thesis-form button:hover {
    background-color: #0056b3;
}
.check_b {
    display: inline-flex; 
    align-items: center; 
    font-size: 1rem; 
}

.check_b input[type="checkbox"] {
    margin-right: 10px;
}

@media (max-width: 768px) {
   
    .thesis-form {
    
      width: 70%;
      
    }
  
    .thesis-form input, .thesis-form textarea {
      font-size: 14px;
      padding: 8px;
    }
  
    .thesis-form button {
      font-size: 14px;
      padding: 10px;
    }
  
    .small {
      font-size: 12px;
    }
  
    .error, .error-message {
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .thesis-form {
      padding: 10px;
    }
  
    .thesis-form input, .thesis-form textarea {
      font-size: 12px;
      padding: 6px;
    }
  
    .thesis-form button {
      font-size: 12px;
      padding: 8px;
    }
  
    .small {
      font-size: 10px;
    }
  
    .error, .error-message {
      font-size: 10px;
    }
  }