

.mesaje_lista {
    padding: 1vh;
    
    top: 16%;
    left: 15.5%;
    /* width: 49vw; */
    height: 65vh;
    background-color: transparent;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mesaj {
    background-color: #f1f1f1;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 1.5;
}

.mesaj p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.mesaj p strong {
    font-weight: bold;
    color: #0073e6;
}

.mesaj .data_mesaj {
    font-size: 12px;
    color: #888;
    text-align: right;
    margin-top: 5px;
}

.mesaj.left {
    background-color: #f1f1f1;
    align-self: flex-start;  
    text-align: left;
}

.mesaj.right {
    margin-right: 1vh;
    background-color: #d1e7ff;
    align-self: flex-end; 
    text-align: right;
}

.info {
   
    top: 10%;
    left: 67%;
    width: 30vw;
    height: 80vh;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.dropdown-button {
    width: 100%;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 0.5px solid white;
}

.calendar-icon {
    font-size: 3rem !important; 
    color: rgb(0, 0, 0);
}

.dropdown-button:hover {
    background-color: #0056b3;
}

button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 16px;
}

.back_button {
    background-color: transparent;
    color: #333;
    font-size: 24px;
}

.gmail-toggle-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
}

.gmail-toggle-button:hover {
    background-color: #218838;
}

.additional-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.MuiIconButton-root {
    color: #007bff;
}

.mesaje_input {

    
    width: 47vw;
    height: 5vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    border: 1px solid #ccc;
    transition: 0.3s ease-in-out;
    padding: 5px 25px;
}

.mesaje_input:focus-within {
    border-color: #007bff;
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5);
}

.mesaj_place {
    width: 100%;
    height: 95%;
    font-size: medium;
    padding: 0 10px;
    border: none;
    outline: none;
}

.send_btn {
   
    top: 83.7%;
    left: 61%;
    width: 3vw;
    height: 5vh;
    cursor: pointer;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}

.send_btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.info_mesaje {
    
    
    top: 15.1%;
    left: 15%;
    width: 50.1vw;
    height: 6vh;
    cursor: pointer;
    color: black;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: 0.3s;
    border: 0.1px solid #060505;
 
}
.text_info{
    color: #333;
}


@media screen and (max-width: 1024px) {
    

    .info {
        left: 75%;
        width: 22vw;
        height: 70vh;
    }

    .mesaje_input {
        width: 60vh;
    }

    .send_btn {
        left: 75%;
        width: 5vw;
    }
}

@media screen and (max-width: 768px) {
   .info_mesaje{
    width: 90%;
    padding-bottom: 5px;
    
  
   }

    .info {
        position: relative;
        left: auto;
        width: 90%;
        height: auto;
        margin-top: 20px;
    }

    .mesaje_input {
        width: 60vh;
    }

    .send_btn {
        left: 85%;
        width: 6vw;
    }

    .mesaj {
        max-width: 80%;
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    .text_info{
       font-size: small;
    }
    .info {
        width: 100%;
        height: auto;
        padding: 5px;
    }

    .mesaje_input {
        width: 85%;
        font-size: small;
    }

    .send_btn {
        left: 88%;
        width: 8vw;
        height: 6vh;
    }

    .mesaj {
        max-width: 90%;
        font-size: 12px;
        padding: 8px;
    }

    .mesaj p {
        font-size: 14px;
    }

    .mesaj .data_mesaj {
        font-size: 10px;
    }
}
