
.toggle-container {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}


.toggle-container svg {
  font-size: 50px; 
 
  color: #888; 
  transition: color 0.3s ease, transform 0.3s ease;
}


.icon-container svg {
    font-size: 40px; 
    
    transition: color 0.3s ease, transform 0.3s ease;
  }

.toggle-container.active svg {
  color: #3f96d4; 

}


.btn_group {
    display: flex;
    align-items: center;
    gap: 26px;
  }
  
  .toggle-section {
    display: flex;
    margin: none;
    
    flex-direction: column;  
    align-items: center;     
  }
  
  .toggle-text {
    font-weight: 100;
    font-size: 14px;
    color: #868080;
    
  }
  
  .delete-icon {
    color: red;
    cursor: pointer;
  }
 
  
  .toggle-container {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  



 
 
  .confirm-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10; 
    width: 300px; 
    text-align: center;
    border: 0.4px solid rgb(0, 0, 0);
    
  }
  
  .confirm-dialog button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color:rgb(140, 203, 237);
    color: #333;
    border: none;
    margin: 10px;
    border-radius: 4px;
    font-size: 16px;
    
  }
  
  .confirm-dialog button:nth-child(2) {
    background-color: #f8766d;
  }